body, header, footer, h1, p, ul, li
  margin: 0
  padding: 0
  line-height: 1.0

html
  font-size: 62.5%
  font-family: "source sans pro", sans-serif

body
  font-size: 1.6rem
  background: #EEE
  color: #666

main
  padding: 0 2.5%

header.site-header
  padding: 2rem 2.5%

  h1
    font-size: 1.6rem
    font-weight: normal

section.preview
  padding: 1rem 0 3rem
  text-align: center
  border-bottom: solid 0.1rem #999

nav
  display: grid
  padding: 3rem 1rem
  grid-auto-flow: column
  justify-content: center
  column-gap: 5rem

  ul.usage-selector
    li
      display: inline-block

      & + li
        margin-left: 1rem

      label
        display: block

        input
          display: none
        
        svg
          width: auto
          height: 9.5rem
          border-radius: 0.5rem

  ul.pattern-selector
    li
      display: inline-block

      label
        display: block
        width: 7rem
        height: 9.5rem
        box-sizing: border-box
        padding: 4rem 0
        text-align: center
        font-weight: 600
        background: #FFF

        &.original
          background: #FFF
          color: #60B5CC

        &.new
          background: rgb(18, 147, 216)
          color: #FFF

        &.prime
          background: hsl(345, 100%, 37%)
          color: #FFF

        &.option
          background: #FFF
          color: hsl(345, 100%, 37%)

        &.summer
          background: #60B5CC
          color: #FFF

        input
          display: none
        
      &:first-child > label
        border-radius: 0.5rem 0 0 0.5rem

      &:last-child > label
        border-radius: 0 0.5rem 0.5rem 0

footer.site-footer
  position: absolute
  right: 2.5%
  bottom: 2rem

  p
    font-weight: normal
